/* LOGIN-SIGNUP */
@media (max-width: 991px) {
  .navbar-nav .nav-link {
    margin: 0.75rem;
  }
  .navbar-nav {
    align-items: flex-start !important;
  }
  .login-sign a {
    margin: 0.5rem 0 !important;
  }
}
/* OWL-CAROUSEL */
@media (max-width: 767px) {
  .container {
    width: 87% !important;
  }
  .courses .card {
    height: 30rem;
  }
}
