@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --purple: #3c2973;
  --lavender: #cfc2fc;
  --yellow: #ffcc3d;
  --jordy: #959dff;
  --bg: #ffffff;
  --blue: #2020b2;
}

* {
  font-family: "Rubik", sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}

body {
  background-color: var(--bg);
}
.btn-style {
  background-color: var(--purple) !important;
  color: var(--bg) !important;
  font-size: 1.15rem;
}
.btn-style:hover {
  background-color: var(--lavender) !important;
  color: var(--purple) !important;
}
.title h1 {
  font-size: 4rem;
}
.title h1 span {
  color: var(--blue);
}

/* Header Starts */
header nav {
  background-color: var(--purple);
}
header nav .navbar-brand {
  color: var(--bg);
  font-size: 1.5rem;
}
header .navbar-nav a.nav-link,
header .navbar-nav a.nav-link.active {
  color: var(--bg);
  font-size: 1.25rem;
  padding: 0 1rem !important;
}
header .navbar-nav a.nav-link:hover,
header .navbar-nav a.nav-link.active:hover {
  color: var(--lavender);
  font-size: 1.25rem;
  padding: 0 1rem !important;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(207,194,252)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: var(--lavender);
}
header .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
/* Header Ends */
/* Hero Section Starts */
.hero h1 {
  font-size: 5rem;
}
.hero h1 span {
  color: var(--blue);
}
.hero .hero-footer .hero-footer-box {
  background-color: var(--purple);
  color: var(--bg);
  height: 100px;
}
.hero .hero-footer .hero-footer-box img {
  width: 18%;
}
/* Hero Section Ends */
/* About Us Starts */
.about-content h1 {
  font-size: 4rem;
  color: var(--blue);
}
.about-content p {
  line-height: 2rem;
  font-size: 1.5rem;
}
/* About Us ends */

/* Courses Section Starts */
.courses .card {
  background-color: var(--bg);
  height: 26rem;
  border: 1px solid var(--lavender);
  box-shadow: 2px 2px 4px rgba(149, 157, 255, 0.7);
}
.courses .card img {
  /* height: 12rem;
  width: 10rem; */
}
/* .carousel-control-prev,
.carousel-control-next {
  color: var(--purple) !important;
}    */
.owl-nav span {
  background-color: var(--purple);
  color: var(--jordy);
  padding: 0 1rem;
  border-radius: 50%;
  font-size: 2.5rem;
}
.owl-nav span:hover {
  background-color: var(--jordy);
  color: var(--purple);
}
.owl-prev,
.owl-next {
  background-color: transparent !important;
}

.owl-dots .owl-dot span {
  background-color: var(--jordy) !important;
}
.owl-dots .owl-dot.active span {
  background-color: var(--purple) !important;
  font-size: 1.25rem !important;
}

/* tutors section statrs */
.swiper {
  width: 100%;
  padding-top: 3rem;
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: var(--lavender);
}
.swiper-pagination {
  bottom: 1.25rem !important;
}
.swiper-slide {
  width: 18.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}
.swiper-slide a {
  margin: 0.85rem;
  font-size: 1rem;
}
.swiper-slide div {
  display: none;
  opacity: 0;
}
.swiper-slide-active div {
  display: block;
  opacity: 1;
}
.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/t-1.jpg) no-repeat 20% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/t-2.jpg) no-repeat 20% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/t-3.jpg) no-repeat 20% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/t-4.jpg) no-repeat 20% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(../images/t-5.jpg) no-repeat 20% 50% / cover;
}
.icons-container {
  right: 1rem;
  top: 1rem;
}
.icons-container i {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  visibility: hidden;
  transition: visibility 0.5s ease;
  background-color: var(--lavender);
  color: var(--purple) !important;
}
.swiper-slide {
  border-radius: 0.5rem;
}
.swiper-slide:hover i {
  visibility: visible;
}
