@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Rubik:wght@300;400;500;600&display=swap;family=Courier+Prime:wght@400;700&display=swap");

:root {
  --purple: #3c2973;
  --lavender: #cfc2fc;
  --yellow: #ffcc3d;
  --jordy: #959dff;
  --bg: #ffffff;
  --blue: #2020b2;
}

* {
  font-family: "Rubik", sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}

body {
  background-color: var(--bg);
}
.btn-style {
  background-color: var(--purple) !important;
  color: var(--bg) !important;
  font-size: 1.15rem;
}
.btn-style:hover {
  background-color: var(--lavender) !important;
  color: var(--purple) !important;
}
.title h1 {
  font-size: 4rem;
}
.title h1 span {
  color: var(--blue);
}

/* Header Starts */
header nav {
  background-color: var(--purple);
}
header nav .navbar-brand {
  color: var(--bg);
  font-size: 1.5rem;
}
header .navbar-nav a.nav-link,
header .navbar-nav a.nav-link.active {
  color: var(--bg);
  font-size: 1.25rem;
  padding: 0 1rem !important;
}
header .navbar-nav a.nav-link:hover,
header .navbar-nav a.nav-link.active:hover {
  color: var(--lavender);
  font-size: 1.25rem;
  padding: 0 1rem !important;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(207,194,252)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: var(--lavender);
}
header .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
/* LOGIN-SIGNUP Index*/
.login-sign a {
  font-size: 1.25rem;
  border: 2px solid var(--jordy);
  border-radius: 0.35rem;
  padding: 0.35rem 1.25rem;
}
.login-sign :hover {
  color: var(--lavender) !important;
}

/* LOGIN-SIGNUP PAGE*/
.login-signup {
  margin: 7rem 0 !important;
}
.login-left-parent {
  background: url("../images/signin-background.jpg") no-repeat center / cover;
}
.login-left-part p,
.login-left-part small {
  font-family: "Courier Prime", monospace;
}
.login-header h1,
.login-header h5,
.login-right-part .form-check-label,
.signup small {
  color: var(--purple);
}
.form-check-input#formCheck,
.login-right-part input,
.login-right-part input:focus {
  box-shadow: none !important;
  border: 1px solid var(--lavender);
}
.login-right-part input::placeholder {
  color: var(--jordy);
}
.form-check-input[type="checkbox"]:checked#formCheck {
  background-color: var(--purple);
  box-shadow: none !important;
}
.login-right-part .btn-login {
  background-color: var(--purple);
}
.login-right-part .btn-login:hover {
  background-color: var(--jordy);
  color: var(--purple);
}
/* Change Navigation Style  On Scroll */
.scrolled-nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--blue);
  opacity: 0.9;
  border-bottom: 1ps solid var(--purple);
  z-index: 999;
}
nav.scrolled-nav a {
  color: var(--lavender) !important;
}
nav.scrolled-nav a:hover {
  color: var(--yellow) !important;
}
nav.scrolled-nav {
  transform: translateY(100%);
  transform: translateY(0%);
  transition: all 1s ease;
}
/* Header Ends */

/* Hero Section Starts */
.hero h1 {
  font-size: 5rem;
}
.hero h1 span {
  color: var(--blue);
}
.hero .hero-footer .hero-footer-box {
  background-color: var(--purple);
  color: var(--bg);
  height: 100px;
}
.hero .hero-footer .hero-footer-box img {
  width: 18%;
}
/* Hero Section Ends */
/* About Us Starts */
.about-content h1 {
  font-size: 4rem;
  color: var(--blue);
}
.about-content p {
  line-height: 2rem;
  font-size: 1.5rem;
}
/* About Us ends */

/* Courses Section Starts */
.courses .card {
  background-color: var(--bg);
  height: 26rem;
  border: 1px solid var(--lavender);
  box-shadow: 2px 2px 4px rgba(149, 157, 255, 0.7);
}

.owl-nav span {
  background-color: var(--purple);
  color: var(--jordy);
  padding: 0 1rem;
  border-radius: 50%;
  font-size: 2.5rem;
}
.owl-nav span:hover {
  background-color: var(--jordy);
  color: var(--purple);
}
.owl-prev,
.owl-next {
  background-color: transparent !important;
}

.owl-dots .owl-dot span {
  background-color: var(--jordy) !important;
}
.owl-dots .owl-dot.active span {
  background-color: var(--purple) !important;
  font-size: 1.25rem !important;
}

/* tutors section statrs */
.swiper {
  width: 100%;
  padding-top: 3rem;
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: var(--lavender);
}
.swiper-pagination {
  bottom: 1.25rem !important;
  width: auto !important;
}
.swiper-slide {
  width: 18.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}
.swiper-slide a {
  margin: 0.85rem;
  font-size: 1rem;
}
.swiper-slide div {
  display: none;
  opacity: 0;
}
.swiper-slide-active div {
  display: block;
  opacity: 1;
}
.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../images/t-1.jpg") no-repeat 20% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../images/t-2.jpg") no-repeat 20% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../images/t-3.jpg") no-repeat 20% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../images/t-4.jpg") no-repeat 20% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../images/t-5.jpg") no-repeat 20% 50% / cover;
}
.icons-container {
  right: 1rem;
  top: 1rem;
}
.icons-container {
  visibility: hidden;
  transition: visibility 0.5s ease;
}
.icons-container i {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--lavender);
  color: var(--purple) !important;
}
.swiper-slide {
  border-radius: 0.5rem;
}
.swiper-slide:hover .icons-container {
  visibility: visible;
}
/* Testimonial Starts */
.carousel-inner {
  height: 25rem !important;
}
.testimonial {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--jordy), var(--purple));
}
.testimonial h1 {
  font-size: 4rem;
  margin: 3rem 0 2rem;
}
.testimonial hr {
  width: 100px;
  height: 3px;
}
.testimonial img {
  width: 100px;
  height: 100px;
}
.carousel-item i {
  font-size: 1.6rem;
  color: var(--blue);
}
.t-card {
  padding: 1.8125rem 1.125rem;
  background-color: var(--lavender);
  border-radius: 1.25rem;
  color: var(--purple);
  height: auto;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.5625rem solid transparent;
  border-right: 1.5625rem solid transparent;
  border-top: 1.25rem solid var(--lavender);
}
.controls a {
  background-color: var(--blue);
  color: white;
}
.controls a:hover {
  background-color: var(--purple);
  color: var(--lavender);
}
/* CONTACT US INDEX STARTS */
.contact form input,
select {
  box-shadow: none !important;
  background-color: var(--lavender) !important;
  border: var(--purple) !important;
}
.contact form input::placeholder,
select {
  color: white !important;
}
.contact form label {
  font-size: 1.25rem !important;
}
.contact .form-check-input#male,
#female {
  background-color: var(--purple);
}
/* CONTACT US PAGE STARTS */

.contact-box {
  height: 20rem !important;
  margin-top: 3rem;
  padding: 3rem 0;
  border: 1px solid var(--lavender);
  color: var(--purple);
  background: linear-gradient(to right, var(--jordy), var(--lavender));
  box-shadow: 2px 2px 4px rgba(149, 157, 255, 0.7);
}
.contact-box .icons i {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  line-height: 3rem;
  margin-bottom: 3rem;
  background-color: var(--purple);
  color: var(--yellow);
  font-size: 1.25rem !important;
}
.contact-box .icons h4 {
  margin-bottom: 2rem;
  color: var(--blue);
}
.contact-box .icons p {
  font-size: 1rem;
  font-weight: bold;
}
/* form-part */
.send-message .form-part {
  border: 1px solid var(--purple);
  margin: 8rem 0;
}
.send-message .form-part h1 {
  font-size: 2rem;
  color: var(--blue);
}
.form-part input,
textarea {
  background-color: var(--bg);
  border: 1px solid var(--yellow) !important;
}
.form-part input,
textarea {
  background-color: var(--bg);
  border: 1px solid var(--yellow) !important;
}
.form-part input,
textarea:focus {
  box-shadow: none !important;
}
.form-part input::placeholder,
.form-part textarea::placeholder {
  color: var(--purple) !important;
  opacity: 0.7;
  font-size: 1rem;
}
/* fa-questions accordion container */
.fa-questions {
  margin-bottom: 5rem;
}
.fa-questions h1 {
  font-size: 3rem;
  color: var(--blue);
}
.accordion-item {
  margin-bottom: 10px;
  font-size: 1rem;
}
.accordion-item .accordion-button {
  background: linear-gradient(to right, var(--jordy), var(--lavender));
  box-shadow: 2px 2px 4px rgba(149, 157, 255, 0.7);
  color: var(--purple);
  padding: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
}
.accordion-item .accordion-button:focus {
  box-shadow: none !important;
}

/* footer */
footer {
  background: linear-gradient(to right, var(--jordy), var(--purple));
  color: var(--jordy);
}
.social-icons-footer a {
  font-size: 1.75rem !important;
  color: var(--purple);
  padding: 0.15rem 0.5rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  background-color: var(--lavender);
}
